<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/save" method="get">
		<table border='2px'>
			<tr>
				<td>Enter empId</td>
				<td><input type="text" name="empId"></td>
			</tr>

			<tr>
				<td>Enter empName</td>
				<td><input type="text" name="name"></td>
			</tr>

			<tr>
				<td>Enter salary</td>
				<td><input type="text" name="salary"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="CLICK"></td>
			</tr>
		</table>

	</form>
</body>
</html>